{% extends 'layout_small.html.twig' %}

{% block title %}
    {{ 'admin_user.title.list'|trans }}
{% endblock title %}

{% block container %}
    <div class="card card-listing">

        {% include 'flashbag.html.twig' %}

        <div class="card-header">
            <h2>
                {{ 'admin_user.title.list'|trans }}
                <button type="button" class="btn btn-sm btn-primary" onclick="{{ ppboxRedirect(path('admin_user_new')) }}">
                    <span class="oi oi-play-circle"></span> {{ 'admin_user.action.new'|trans }}
                </button>
            </h2>
        </div>

        <div class="card-actions">
            <ul class="nav nav-tabs">
                <li class="nav-item" title="{{ 'generic.filters.count_active_filters'|transchoice(nbActiveFilters) }}">
                    <a class="nav-link {% if errorFilters %}active text-danger{% endif %}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {% if errorFilters %}
                            <span class="oi oi-warning"></span>
                        {% endif %}
                        {{ 'generic.filters.title'|trans }}
                        {% if (nbActiveFilters) %}
                            <span class="badge badge-primary">{{ nbActiveFilters }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'generic.field.actions'|trans }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pp-check-uncheck-action-confirm"
                           data-ppbox-id="{{ 'dialogActionEnable' }}"
                           data-ppbox-theme="danger"
                           data-ppbox-width="sm"
                           data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                           data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                           data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, route: 'admin_user_action', route_params: {'action': 'enable'} }|json_encode() }}"
                           data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                        >
                            {{ 'generic.action.enable'|trans }}
                        </a>
                        <a class="dropdown-item pp-check-uncheck-action-confirm"
                           data-ppbox-id="{{ 'dialogActionDisable' }}"
                           data-ppbox-theme="danger"
                           data-ppbox-width="sm"
                           data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                           data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                           data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, route: 'admin_user_action', route_params: {'action': 'disable'} }|json_encode() }}"
                           data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                        >
                            {{ 'generic.action.disable'|trans }}
                        </a>
                        <a class="dropdown-item pp-check-uncheck-action-confirm"
                           data-ppbox-id="{{ 'dialogActionRemove' }}"
                           data-ppbox-theme="danger"
                           data-ppbox-width="sm"
                           data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                           data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                           data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, route: 'admin_user_action', route_params: {'action': 'remove'} }|json_encode() }}"
                           data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                        >
                            {{ 'generic.action.remove'|trans }}
                        </a>
                    </div>
                </li>
            </ul>
            <div class="collapse {% if errorFilters %}show{% endif %}" id="collapseExample">
                {% include 'admin/user/filters.html.twig' %}
            </div>
        </div>

        <div class="card-body">

            {% include 'pagination.html.twig' with {'pager': pager} %}

            {% if (pager.count) %}
                <table class="table table-hover table-listing">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input pp-check-uncheck-all" data-check="{{ 'generic.checkboxes.check_all'|trans }}" data-uncheck="{{ 'generic.checkboxes.uncheck_all'|trans }}" title="">
                            </div>
                        </th>
                        <th class="text-center d-none d-sm-none d-md-table-cell" scope="col">{{ 'admin_user.field.firstname'|trans }}</th>
                        <th class="text-center d-none d-sm-none d-md-table-cell" scope="col">{{ 'admin_user.field.lastname'|trans }}</th>
                        <th class="text-center" scope="col">{{ 'admin_user.field.username'|trans }}</th>
                        <th class="text-center" scope="col">{{ 'admin_user.field.role'|trans }}</th>
                        <th class="text-center" scope="col">{{ 'admin_user.field.logged_as'|trans }}</th>
                        <th class="text-center" scope="col">{{ 'generic.field.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, user in pager.iterator %}
                    <tr class="pp-check-uncheck-row">
                        <td class="text-center">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input pp-check-uncheck-id" data-id="{{ user.id }}" title="">
                            </div>
                        </td>
                        <td class="text-center d-none d-sm-none d-md-table-cell">
                            {{ user.firstname }}
                        </td>
                        <td class="text-center d-none d-sm-none d-md-table-cell">
                            {{ user.lastname }}
                        </td>
                        <td class="text-center">
                            {{ user.username }}
                        </td>
                        <td class="text-center">
                            {% if user.role == 'ROLE_ADMIN' %}
                                {% set class = 'dark' %}
                            {% elseif user.role == 'ROLE_USER' %}
                                {% set class = 'info' %}
                            {% else %}
                                {% set class = 'secondary' %}
                            {% endif %}
                            <span class="badge badge-{{ class }}">{{ user.role }}</span>
                        </td>
                        <td class="text-center">
                            {% if is_granted('ROLE_ADMIN') and user.id != loggedUser.id %}
                                <a href="{{ path('index', {'_are_you_strong_to_be_someone_else': user.username}) }}"><span class="oi oi-account-login"></span></a>
                            {% endif %}
                        </td>
                        <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="{{ ppboxRedirect(path('admin_user_edit', {'id': user.id})) }}">
                                <span class="oi oi-pencil"></span> {{ 'generic.action.edit'|trans }}
                            </button>
                            {% if user.canBeEnable %}
                                <button type="button" class="btn btn-sm btn-outline-secondary ppboxconfirm"
                                   data-ppbox-id="{{ 'dialogEnable' ~ key }}"
                                   data-ppbox-theme="info"
                                   data-ppbox-width="sm"
                                   data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                   data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                   data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_enable', {'id': user.id}) }|json_encode() }}"
                                   data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                >
                                    <span class="oi oi-thumb-up"></span> {{ 'generic.action.enable'|trans }}
                                </button>
                            {% endif %}
                            {% if user.canBeDisable %}
                                <button type="button" class="btn btn-sm btn-outline-secondary ppboxconfirm"
                                        data-ppbox-id="{{ 'dialogDisable' ~ key }}"
                                        data-ppbox-theme="warning"
                                        data-ppbox-width="sm"
                                        data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                        data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                        data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_disable', {'id': user.id}) }|json_encode() }}"
                                        data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                >
                                    <span class="oi oi-thumb-down"></span> {{ 'generic.action.disable'|trans }}
                                </button>
                            {% endif %}
                            {% if user.canBeRemove %}
                                <button type="button" class="btn btn-sm btn-outline-danger ppboxconfirm"
                                    data-ppbox-id="{{ 'dialogRemove' ~ key }}"
                                    data-ppbox-theme="danger"
                                    data-ppbox-width="sm"
                                    data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                    data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                    data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_remove', {'id': user.id}) }|json_encode() }}"
                                    data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                >
                                    <span class="oi oi-trash"></span> {{ 'generic.action.remove'|trans }}
                                </button>
                            {% endif %}
                        </td>
                        <td class="text-center d-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-none">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'generic.field.actions'|trans }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#" onclick="{{ ppboxRedirect(path('admin_user_edit', {'id': user.id})) }}">
                                        <span class="oi oi-pencil"></span> {{ 'generic.action.edit'|trans }}
                                    </a>
                                    {% if user.canBeEnable %}
                                        <a class="dropdown-item ppboxconfirm" href="#"
                                           data-ppbox-id="{{ 'dialogEnable' ~ key }}"
                                           data-ppbox-theme="info"
                                           data-ppbox-width="sm"
                                           data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                           data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                           data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_enable', {'id': user.id}) }|json_encode() }}"
                                           data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                        >
                                            <span class="oi oi-thumb-up"></span> {{ 'generic.action.enable'|trans }}
                                        </a>
                                    {% endif %}
                                    {% if user.canBeDisable %}
                                        <a class="dropdown-item ppboxconfirm" href="#"
                                           data-ppbox-id="{{ 'dialogDisable' ~ key }}"
                                           data-ppbox-theme="warning"
                                           data-ppbox-width="sm"
                                           data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                           data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                           data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_disable', {'id': user.id}) }|json_encode() }}"
                                           data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                        >
                                            <span class="oi oi-thumb-down"></span> {{ 'generic.action.disable'|trans }}
                                        </a>
                                    {% endif %}
                                    {% if user.canBeRemove %}
                                        <a class="dropdown-item ppboxconfirm" href="#"
                                            data-ppbox-id="{{ 'dialogRemove' ~ key }}"
                                            data-ppbox-theme="danger"
                                            data-ppbox-width="sm"
                                            data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                            data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                            data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('admin_user_remove', {'id': user.id}) }|json_encode() }}"
                                            data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                        >
                                            <span class="oi oi-trash"></span> {{ 'generic.action.remove'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock container %}
