{% extends 'layout_standard.html.twig' %}

{% block title %}
    {{ 'financial.transaction.title.account'|trans }}
{% endblock title %}

{% block container %}

    <nav>
        <div class="nav nav-tabs" role="tablist">
            {% for year in years %}
                <a class="nav-item nav-link active" id="tab-{{ year }}-link" data-toggle="tab" href="#nav-{{ year }}" role="tab" aria-controls="nav-{{ year }}" aria-selected="true">{{ year }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="tab-transaction">
        {% for year in years %}
            <div class="tab-pane fade show active" id="tab-{{ year }}" data-account="{{ account.id }}" data-year="{{ year }}" role="tabpanel" aria-labelledby="nav-{{ year }}-tab">
            </div>
        {% endfor %}
    </div>

{% endblock container %}

{% block javascripts %}
    <script src="{{ asset('js/financial/transaction/account.js') }}"></script>
{% endblock javascripts %}