<div class="px-2 py-1 border-bottom">
    <div class="row h-25">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-1">
            {{ transaction.date|localizeddate('long', 'none', app.request.locale)  }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            {{ transaction.name }}
        </div>
        <div class="d-none d-xl-table-cell col-lg-3 col-xl-3">
            {% if transaction.category.logo %}
                <img class="img-thumbnail" height="25px" width="25px" src="{{ asset(app_category_logo_dir ~ '/' ~ transaction.category.logo) }}">
            {% endif %}
            {% if transaction.category.parent %}{{ transaction.category.parent.name }} > {% endif %}{{ transaction.category.name }}
        </div>
        <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-3">
            {{ transaction.typeOfTransaction.name }}
        </div>
        {% if transaction.isDebit %}
            <div class="text-right col-12 offset-sm-8 col-sm-4 offset-md-0 col-md-2 col-lg-2 col-xl-1">
                <label class="alert alert-link alert-danger p-0 w-100 m-0">
                    - {{ transaction.amount|localizedcurrency(transaction.account.balanceCurrency) }}
                </label>
            </div>
        {% endif %}
        {% if transaction.isCredit %}
            <div class="text-right col-12 offset-sm-8 col-sm-4 offset-md-2 col-md-2 offset-lg-2 col-lg-2 offset-xl-1 col-xl-1">
                <label class="alert alert-link alert-info p-0 w-100 m-0">
                    + {{ transaction.amount|localizedcurrency(transaction.account.balanceCurrency) }}
                </label>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-1">
            {% if transaction.tickDate %}{{ transaction.tickDate|localizeddate('long', 'none', app.request.locale)  }}{% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-xl-none col-xl-6">
            {% if transaction.category.logo %}
                <img class="img-thumbnail" height="25px" width="25px" src="{{ asset(app_category_logo_dir ~ '/' ~ transaction.category.logo) }}">
            {% endif %}
            {% if transaction.category.parent %}{{ transaction.category.parent.name }} > {% endif %}{{ transaction.category.name }}
        </div>
    </div>
</div>