<div class="row">
    {% for category in categories %}
        <div class="col-2">
            <div class="list-group parent-droppable small" data-parent-id="{{ category.id }}">
                <div class="list-group-item list-group-item-action active">
                    <div class="row m-0">
                        <div class="col-8 pl-0">
                            {{ category.name }}
                        </div>
                        <div class="col-4 pr-0 text-right">
                            <a class="text-white" href="{{ path('financial_category_edit', {'id': category.id}) }}">
                                <span class="oi oi-pencil"></span>
                            </a>
                            {% if category.canBeRemove %}
                                <a class="text-white ppboxconfirm" href="#"
                                        data-ppbox-id="{{ 'dialogRemove' }}"
                                        data-ppbox-theme="danger"
                                        data-ppbox-width="sm"
                                        data-ppbox-title="{{ 'generic.diag_confirm.title'|trans }}"
                                        data-ppbox-body="{{ 'generic.diag_confirm.message'|trans }}"
                                        data-ppbox-button1="{{ {text: 'generic.diag_confirm.confirm'|trans, redirect: path('financial_category_remove', {'id': category.id}) }|json_encode() }}"
                                        data-ppbox-button2="{{ {text: 'generic.diag_confirm.cancel'|trans }|json_encode() }}"
                                >
                                    <span class="oi oi-trash"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="childrens">
                    {% for children in category.childrens %}
                        <a href="#" class="list-group-item list-group-item-action children-draggable" data-children-id="{{ children.id }}">{{ children.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>