    <div class="row-children col-3 text-center">
        <div class="col-12 img-preview-row">
            <div class="card d-block border-bottom-0">
                <img class="card-img border-0 img-preview img-thumbnail img-fluid"
                     src="{% if (index is defined and form.vars.data.childrens[index].logo) %}{{ asset(app_category_logo_dir ~ '/' ~ form.vars.data.childrens[index].logo) }}{% else %}{{ asset('data/blank.png') }}{% endif %}"
                >

                <div class="card-img-overlay p-0">
                    <div class="card-footer border-0 bg-transparent p-0 text-right">
                        <a class="text-dark img-preview-edit-file"
                           title="{% if (index is defined) %}{{ 'generic.field.clic_to_modify'|trans }}{% else %}{{ 'generic.field.clic_to_add'|trans }}{% endif %}"
                        >
                            <span class="oi oi-pencil"></span>
                        </a>
                    </div>
                    <div class="card-footer border-0 bg-transparent p-0 text-right">
                        <a class="text-dark img-preview-remove-file">
                            <span class="oi oi-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none">
                {{ form_row(children.file, {
                    'label': 'generic.field.logo',
                    'attr': {
                        'class': 'img-preview-form-input-file'
                    }
                }) }}
                {{ form_row(children.remove_file, {
                    'attr': {
                        'class': 'img-preview-form-remove-file'
                    }
                }) }}
            </div>
        </div>
        <div class="col-12">
        {{ form_widget(children.name, {
            'label': 'financial.category.field.children',
            'attr': {
                'class': 'form-control-sm'
            }
        }) }}
        </div>
        <div class="col-12">
            <a href="#" class="del-children text-danger">
                <span class="oi oi-trash"></span> {{ 'generic.action.remove'|trans }}
            </a>
        </div>
    </div>