{% extends 'layout_small.html.twig' %}

{% block title %}
    {% if (form.vars.data.id) %}{{ 'financial.account.title.edit'|trans }}{% else %}{{ 'financial.account.title.new'|trans }}{% endif %}
{% endblock title %}

{% block container %}
    <h2>{% if (form.vars.data.id) %}{{ 'financial.account.title.edit'|trans }}{% else %}{{ 'financial.account.title.new'|trans }}{% endif %}</h2>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="form-row">
                    <div class="col-6">
                        {{ form_row(form.bank, {
                            'label': 'financial.account.field.bank'
                        }) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.typeOfAccount, {
                            'label': 'financial.account.field.type_account'
                        }) }}
                    </div>
                </div>
                {{ form_row(form.name, {
                    'label': 'financial.account.field.name'
                }) }}
                {{ form_row(form.surname, {
                    'label': 'financial.account.field.surname'
                }) }}
                {{ form_row(form.initialBalance, {
                    'label': 'financial.account.field.initial_balance'
                }) }}
                {{ form_widget(form.back, {
                    'label': 'generic.action.back',
                    'attr': {
                        'class': 'btn-secondary btn-sm',
                        'onclick': ppboxRedirect(path('financial_account'))
                    }
                }) }}
                {{ form_widget(form.save, {
                    'label': 'generic.action.save',
                    'attr': {
                        'class': 'btn-primary btn-sm'
                    }
                }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock container %}
