{% extends 'layout_small.html.twig' %}

{% block title %}
    {{ 'financial.account.title.list'|trans }}
{% endblock title %}

{% block container %}
    <div class="card card-listing">

        {% include 'flashbag.html.twig' %}

        <div class="card-header">
            <h2>
                {{ 'financial.account.title.list'|trans }}
                <button type="button" class="btn btn-sm btn-primary" onclick="{{ ppboxRedirect(path('financial_account_new')) }}">
                    <span class="oi oi-play-circle"></span> {{ 'financial.account.action.new'|trans }}
                </button>
            </h2>
        </div>

        <div class="card-body">

            {% include 'pagination.html.twig' with {'pager': pager} %}

            {% if (pager.count) %}
                <table class="table table-hover table-listing">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center d-md-table-cell" scope="col">{{ 'financial.account.field.bank'|trans }}</th>
                        <th class="text-center d-md-table-cell" scope="col">{{ 'financial.account.field.name'|trans }}</th>
                        <th class="text-center d-none d-md-table-cell" scope="col">{{ 'financial.account.field.surname'|trans }}</th>
                        <th class="text-center" scope="col">{{ 'generic.field.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, account in pager.iterator %}
                    <tr>
                        <td class="text-center d-md-table-cell">
                            {% if account.bank.logo %}
                                <img class="img-thumbnail" height="25px" width="25px" src="{{ asset(app_bank_logo_dir ~ '/' ~ account.bank.logo) }}">
                            {% else %}
                                {{ account.bank.name }}
                            {% endif %}
                        </td>
                        <td class="text-center d-md-table-cell">
                            {{ account.name }}
                        </td>
                        <td class="text-center d-none d-md-table-cell">
                            {{ account.surname }}
                        </td>
                        <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                            {% if account.canEditAccount(loggedUser) %}
                                <button type="button" class="btn btn-sm btn-outline-primary" onclick="{{ ppboxRedirect(path('financial_account_edit', {'id': account.id})) }}">
                                    <span class="oi oi-pencil"></span> {{ 'generic.action.edit'|trans }}
                                </button>
                            {% endif %}
                            {% if account.canShareAccount(loggedUser) %}
                                <button type="button" class="btn btn-sm btn-outline-info" onclick="{{ ppboxRedirect(path('financial_account_share', {'id': account.id})) }}">
                                    <span class="oi oi-people"></span> {{ 'generic.action.share'|trans }}
                                </button>
                            {% endif %}
                            {% if account.canBeRemove(loggedUser) %}
                                <button type="button" class="btn btn-sm btn-outline-danger ppboxconfirm"
                                    data-ppbox-id="{{ 'dialogRemove' ~ key }}"
                                    data-ppbox-buttons="{{ {
                                        0: {text: 'generic.diag_confirm.confirm'|trans, url: path('financial_account_remove', {'id': account.id})},
                                        1: {text: 'generic.diag_confirm.cancel'|trans}
                                    }|json_encode() }}"
                                >
                                    <span class="oi oi-trash"></span> {{ 'generic.action.remove'|trans }}
                                </button>
                            {% endif %}
                        </td>
                        <td class="text-center d-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-none">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'generic.field.actions'|trans }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    {% if account.canEditAccount(loggedUser) %}
                                        <a class="dropdown-item" href="#" onclick="{{ ppboxRedirect(path('financial_account_edit', {'id': account.id})) }}">
                                            <span class="oi oi-pencil"></span> {{ 'generic.action.edit'|trans }}
                                        </a>
                                    {% endif %}
                                    {% if account.canShareAccount(loggedUser) %}
                                        <a class="dropdown-item" href="#" onclick="{{ ppboxRedirect(path('financial_account_share', {'id': account.id})) }}">
                                            <span class="oi oi-people"></span> {{ 'generic.action.share'|trans }}
                                        </a>
                                    {% endif %}
                                    {% if account.canBeRemove(loggedUser) %}
                                        <a class="dropdown-item ppboxconfirm" href="#"
                                            data-ppbox-id="{{ 'dialogRemove' ~ key }}"
                                            data-ppbox-buttons="{{ {
                                                0: {text: 'generic.diag_confirm.confirm'|trans, url: path('financial_account_remove', {'id': account.id})},
                                                1: {text: 'generic.diag_confirm.cancel'|trans}
                                            }|json_encode() }}"
                                        >
                                            <span class="oi oi-trash"></span> {{ 'generic.action.remove'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock container %}
