{% extends 'layout_small.html.twig' %}

{% block title %}
    {{ 'delegation.title.import'|trans }}
{% endblock title %}

{% block container %}
    <h2>{{ 'delegation.title.import'|trans }}</h2>
    <div class="card">
        <div class="card-body">
            {% if form.vars.data.objects|length == 0 %}
                <div class="alert alert-primary">
                    {{ 'delegation.message.up_to_date'|trans }}
                </div>
                <button class="btn-secondary btn-sm btn" onclick="{{ ppboxRedirect(path('delegation')) }}">{{ 'generic.action.back'|trans }}</button>
            {% else %}
                {{ form_start(form) }}
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="3">
                            {{ form_widget(form.back, {
                                'label': 'generic.action.back',
                                'attr': {
                                    'class': 'btn-secondary btn-sm',
                                    'onclick': ppboxRedirect(path('delegation'))
                                }
                            }) }}
                            {{ form_widget(form.save, {
                                'label': 'generic.action.save',
                                'attr': {
                                    'class': 'btn-primary btn-sm'
                                }
                            }) }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, object in form.vars.data.objects %}
                    <tr class="{% if (object.match) %}table-warning{% endif %}">
                        <td>
                            {{ object.import.name }}
                        </td>
                        <td>
                            {{ object.import.code }}
                        </td>
                        <td>
                            {{ form_widget(form.objects[key]) }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock container %}