{% extends 'layout_small.html.twig' %}

{% block title %}
    {{ 'delegation.title.import'|trans }}
{% endblock title %}

{% block container %}
    <h2>{{ 'delegation.title.import'|trans }}</h2>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.file, {
                    'label': 'generic.field.file'
                }) }}
                {{ form_widget(form.back, {
                    'label': 'generic.action.back',
                    'attr': {
                        'class': 'btn-secondary btn-sm',
                        'onclick': ppboxRedirect(path('delegation'))
                    }
                }) }}
                {{ form_widget(form.import, {
                    'label': 'generic.action.import',
                    'attr': {
                        'class': 'btn-primary btn-sm'
                    }
                }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock container %}